*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-inter);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body > .unit-conv {
  width: 100%;
  max-width: 550px;
}

img {
  width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  display: block;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
